<ul>
  <% if @current_user %>
    <li class="logout"><%= link_to "Logout", logout_path, method: :delete %></li>
  <% else %>
    <li><a href="/auth/github/">Sign in with Github!</a></li>
    <% end %>
</ul>
