<div class="navbar">
  <ul>
    <!-- inheriting current li classes -->
    <% if @current_user %>
      <li class="saveGame">Save game | </li>
      <li><%= link_to "View Saved Games", savedgames_path %> | </li>
      <li>Leaderboard</li>
      <li><%= link_to "Logout", logout_path, method: :delete %></li>
    <% else %>
      <li><a href="/auth/github/">Sign in with Github!</a></li>
    <% end %>
  </ul>
</div>
